extends layout

block content
    h1= title
    //p #{title}
    //<input type="button" id="buttAdd" value="Add book" onclick="addToJSONFile()">
    //form(method="get" action="/")
     //input#buttAdd(type="button" value="Add book")

    //script(src='./public/javascripts/booksAdditionToWindow.js')

    //p <textarea  placeholder ="ID" id="textInputID"></textarea>
      p <textarea  placeholder ="Name" id="textInputName"></textarea>
         p <textarea  placeholder ="Data" id="textInputData"></textarea>
    p Delete by:
        <select name = "filter" id="selDel">
        <option value = "1">By ID</option>
        <option value = "2">By name</option>
        </select>
    <textarea  placeholder ="Enter value" id="textInputInfo"></textarea>
    p
    button(type="submit" id="buttDel") Delete book

    form(method="get" action="/" id="getBackdel")
        input(type="submit" value="Get back")
    script
        include ../public/javascripts/delBook.js